* {
    font-family: 'Raleway', sans-serif;
  }
body {
    height: 100%;
    width: 100%;
}
  
.container {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    min-height: 100vh;
}

.search {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    text-align: center;

}

.list {
    height: auto;
    width:50%
}

.btn {
    background-color: #2047c7;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 5%;
    color: white;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    margin: 15px;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .search {
        width: 100%;
    }
    .list {
        height: auto;
        width:100%
    }
    ul {
        gap: 10px;
    }

}
@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .search {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .list {
        width: 100%;
    }

}