* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
}
.encabezado {
    height: 21%;
    position: relative;
}
.encabezado h1 {
    font-size: 46px;
}
.container {
    position: relative;
    display: flex;
    height: 51%;
    margin: 1%;
}
.footer {
    font-size: 10px;
    height: 21%;
    justify-content: space-around; 
    align-items: center;
}
.encabezado, .container {
    justify-content: space-around;
} 
.encabezado, .container, .footer {
    color: white;
    background-color: #3a3a3a;
    position: relative;
    border: 1px solid white;
    text-align: center;
    display: flex;
    margin: 1%;

}
.navigation {
    font-size: 12px;
    width: 22%;
}
.content {
    font-size: 14px;
    width: 54%;
}
.sidebar {
    font-size: 10px;
    width: 22%;
}
.navigation, .content, .sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 1%;
    height: 92%;
    justify-content: space-around;
    align-items: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1%;
    width: 94%;
    height: 94%;
}

/*Si el atributo de clase termina con r (ejemplo header, footer), el fondo debe ser magenta.*/
*[class$="r"] {
    background-color: magenta;
}
/*Si el atributo de clase contiene una a (ejemplo nav) pero NO termina con r, el fondo debe ser 
azul*/
/*El carácter * indica que este selector debe seleccionar los elementos sólo si tienen la 
cadena "a" en cualquier lugar dentro del valor del atributo y utilizo el :not para negar la 
condicion de selecionar los atributos cuya clase termina en r, por lo tanto me selecciona
los atributos cuya clase contiene una a y no termina en r*/
*[class*="a"]:not([class$="r"]) {
    background-color: blue;
}

/*¿Cómo podría agregar peso a la definición de fuente global(global font definition) para 
ganarse las clases agregadas por el punto 3?
Podria agregarke peso a la definicion de fuente global (global font definition) para que supere
a las demas clases con un !important al lado del valor de la prop. Por ejemplo, 
* {
    font-size: 14px !important;
}

El !important me va a asegurar que nada anule lo que el configura (a menos que también 
sea importante). */

/*Imagine que hay una declaración como class=”no-puedo-usar-inline-styles” style=”background:red” 
y necesita cambiar el fondo a verde sin cambiar el estilo en línea. ¿Cómo podrías lograr esto?

Podria lograrlo separando los elementos con un span, ya que este puede envolver algo de texto 
dentro de su etiqueta <span></span> sin interrumpir el flujo de ese párrafo. De tal manera el style
se aplica dentro de la etiqueta span : 

<span style="background:green">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Recusandae, ex?</span>
