main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.section-hidden {
    display: none;
    background-color: red;
}

