* {
  font-family: 'Raleway', sans-serif;
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.container {
  text-align: center;
}

button {
  background-color: cornflowerblue;
  border: 1px solid white;
  border-radius: 10px;
  height: 30px;
  margin: 10px;
  width: 200px;
}